@import "../../Styles/constans.module.scss";
.layout {
  display: flex;
  height: 100vh;

  .navigation {
    min-width: 180px;
    width: 20%;
    height: 100%;
    border-right: $color_blue solid 2px;
    max-width: 300px;
    background-color: transparent;
    display: block;
    padding-left: 30px;
    box-sizing: border-box;
    padding-top: 20px;

    background-color: white;
  }
}
